[submodule "src/Libraries/AvalonEdit"]
	path = src/Libraries/AvalonEdit
	url = https://github.com/lextudio/AvalonEdit.git
[submodule "src/Libraries/WpfDesigner"]
	path = src/Libraries/WpfDesigner
	url = https://github.com/icsharpcode/WpfDesigner.git
[submodule "externals/project-system"]
	path = externals/project-system
	url = https://github.com/dotnet/project-system.git
[submodule "src/Libraries/AvalonDock"]
	path = src/Libraries/AvalonDock
	url = https://github.com/lextudio/AvalonDock.git
	branch = master
[submodule "externals/cps"]
	path = externals/cps
	url = https://github.com/lextudio/cps-shims.git
[submodule "externals/sharpdbg"]
	path = externals/sharpdbg
	url = https://github.com/MattParkerDev/SharpDbg.git
[submodule "externals/altcover"]
	path = externals/altcover
	url = https://github.com/SteveGilham/altcover.git
[submodule "externals/vscode-wpf"]
	path = externals/vscode-wpf
	url = https://github.com/lextudio/vscode-wpf
[submodule "externals/wpftoolkit"]
	path = externals/wpftoolkit
	url = https://github.com/xceedsoftware/wpftoolkit.git
