[submodule "src/Libraries/AvalonEdit"]
	path = src/Libraries/AvalonEdit
	url = https://github.com/lextudio/AvalonEdit.git
[submodule "src/Libraries/WpfDesigner"]
	path = src/Libraries/WpfDesigner
	url = https://github.com/icsharpcode/WpfDesigner.git
[submodule "externals/project-system"]
	path = externals/project-system
	url = https://github.com/dotnet/project-system.git
[submodule "src/Libraries/AvalonDock"]
	path = src/Libraries/AvalonDock
	url = https://github.com/lextudio/AvalonDock.git
	branch = master
